/* Common settings */
body{
	background:#fff; 
	font-size:16px;
}

h2, h4 {
	text-align:center;
	color:#333;
}

p {	 
	text-align:justify; 
}

.mainPoint{
	text-align:center;
	background:rgb(66, 134, 244);
	color:#fff;
}

.textPoint{
	background:#fff;
	color:#333; 
}


/* specific settings */

#header {	 
	height:6.0rem;	  
	padding-top:1.0rem; 
	margin-top:1.0rem;
}

#imageholder img{ 
	width:100%; 
	margin-top:1.0 rem; 
}

#imageholder { 
	background:#fff; 
	padding:1.0rem;
}

#content {	 
	padding:1.5rem; 
	border-top:1px solid #333;
}

#overview { 
	float:left; 
	height:auto;	
	padding:1.5rem; 
}

#overview  h4 { 
	padding-bottom:1.5rem; 
	border-bottom: 1px solid #333;	
}

 
#products_list { 
	float:left; 
	height:auto; 
	background:#fff; 
	color:#333; 
	padding:1.5rem;
}

#products_list h4 { 
	padding-bottom:1.5rem; 
	border-bottom: 1px solid #333;  
}

#products_list  ul { 
	list-style-type:none; 
	float:left;
}

#products_list  li { 
	line-height:2.5rem; 
	border-bottom: 1px solid #333; 
	text-align:center;
}

#products_list  li a { 
	text-decoration:none; 
	color:#333; 
}

#footer {	 
	height:3.0rem;	  
	padding-top:0.8rem;	
}

#footer p {
	text-align:center;
}


/* Media Queries */


@media screen and (max-width:990px)
{
	#imageholder { 
		order:2; 
	}
	
	#imageholder  img{		 
		margin-top: 0px; 
		vertical-align:middle; 
	}
	
	#overview {  
		order:3; 
	}
	
	#products_list h4 { 
		display:none; 
	}
	
	#products_list  ul { 
		list-style-type:none; 
		float:left;
	}
	
	#products_list {  
		order:1; 
	}
	
	#products_list  li { 
		text-align:center; 
		display:inline-block; 
		padding:0.8rem 1.5rem; 
		border-bottom-width:0px; 
		font-weight:bold;
	}
	
	#products_list  li a { 
		text-decoration:none; 
		color:#333; 
	}
}

@media screen and (max-width:768px)
{
	#header { 
		margin-top:0; 
	}
	
	#imageholder { 
		order:2; 
	}
	
	#imageholder  img{		
		margin-top: 0px; 
	}
	
	#overview {  
		order:3; 
	}
	
	#products_list { 
		order:1; 
	}
	
	#products_list  li { 
		text-align:center; 
		display:inline-block; 
		padding:0.5rem 1.0rem;
		border-bottom-width:0px;
	}
}


@media screen and (max-width:500px)
{
	#header { 
		margin-top:0; 
	}

	#header h1{
		font-size: 200%;
	}

	#imageholder  img{		 
		margin-top: 0px;
	}
	#imageholder h2 {
		font-size: 150%;  
	}
	
	#products_list { 
		border-bottom: 1px solid #aaa;    
	}
	
	#products_list  ul {  
		padding:0; 
		margin:0;
	}
	
	#products_list  li { 
		text-align:left; 
		display:block; 
		padding:0.5rem. 0.75rem; 
		border-bottom-width:0px;
	}
}